<%- include('partials/head.ejs') %>
Go to <a href="/login">http://localhost:3000/login</a> to login or <a href="/sign-up">http://localhost:3000/sign-up</a> to Sign-up
<%- include('partials/foot.ejs') %>